*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*api.txt
/src/BabyLM_dataset/*
*.bin
*.pt
./src/checkpoint_ngrc/*
./src/wandb/*
./src/hf_upload/*
/src/checkpoint_ngrc/*
src/wandb
src/wandb/debug-internal.log
src/wandb/debug.log
src/wandb/latest-run
